@using System.Web.Script.Serialization
@{
    Html.RequiresJs("brochures-view-management.js", "ViewScripts", 10);
	var initValue = @Html.Raw(new JavaScriptSerializer().Serialize(Model));
}


@Html.Hidden("RemoveBrochureUrl", Url.Action("DeleteBrochure", "MPManagement"))
@Html.Hidden("AddBrochureUrl", Url.Action("AddNewBrochure", "MPManagement"))
@Html.Hidden("UpdateBrochureUrl", Url.Action("UpdateBrochure", "MPManagement"))
<div id="brochures-management-view">
    @Html.Hidden("initial-brochures-list", (HtmlString)initValue)
    <div class="outlined" id="brochures-list-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <td>Назва брошури</td>
                    <td>Посилання на брошуру</td>
                    <td>Дата</td>
                    <td>Індекс</td>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'brochure-template', foreach: Brochures }">
            </tbody>
        </table>
    </div>
    <pre class="prettyprint add-brochure-block">
        <div class="input-prepend">
            <button class="btn add-pub" type="button" data-bind="click: AddNewBrochure, attr: { disabled: NewBrochureName() === '' }"><span>Додати брошуру</span></button>
            <input class="span2" id="appendedInputButton" size="16" type="text" data-bind="value: NewBrochureName"/>
        </div>
    </pre>
</div>

<script type="text/html" id="brochure-template">
    <tr>
        <td class="pub-text"><a data-bind="text: BrochureName, attr: { href: BrochureHREF }"></a></td>
        <td>
            <div class="input-append">
                <input class="span2 url" size="90" type="text" data-bind="value: Url"/>
                <button class="btn btn-warning" type="button" data-bind="click: UpdateBrochure, attr: { disabled: !(ItemChanged()) }, visible: ItemChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
            <div class="input-append">
                <input type="text" id="inputDateStarted" placeholder="Дата брошури" data-bind="datepicker: DateCreated, datepickerOptions: { dateFormat: 'yy-mm-dd' }">
                <button class="btn btn-warning" type="button" data-bind="click: UpdateBrochure, attr: { disabled: !(ItemChanged()) }, visible: ItemChanged"><i class="icon-ok-sign icon-white"></i></button>
            </div>
        </td>
        <td>
        <div class="input-append">
            <input class="span2 index" size="16" type="text" data-bind="value: ItemIndex"/>
            <button class="btn btn-warning" type="button" data-bind="click: UpdateBrochure, attr: { disabled: !(IndexChanged()) }, visible: IndexChanged"><i class="icon-ok-sign icon-white"></i></button>
        </div>
        </td>
        <td>
            <button class="btn btn-danger" data-bind="click: Remove, clickBubble: false">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>
    </tr>
</script>