@using System.Web.Script.Serialization
@{
    Html.RequiresJs("publications-view-management.js", "ViewScripts", 10);
	var initValue = @Html.Raw(new JavaScriptSerializer().Serialize(Model));
}


@Html.Hidden("RemovePublicationUrl", Url.Action("DeletePublication", "MPManagement"))
@Html.Hidden("AddPublicationUrl", Url.Action("AddNewPublication", "MPManagement"))
@Html.Hidden("UpdatePublicationUrl", Url.Action("UpdatePublication", "MPManagement"))
<div id="publications-management-view">
    @Html.Hidden("initial-publications-list", (HtmlString)initValue)
    <div class="outlined" id="publications-list-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <td>Заголовок публикації</td>
                    <td>Дата публикації</td>
                </tr>
            </thead>
            <tbody data-bind="template: { name: 'publication-template', foreach: Publications }">
            </tbody>
        </table>
    </div>
    <pre class="prettyprint add-publication-block">
        <div class="input-prepend">
            <button class="btn add-pub" type="button" data-bind="click: AddNewPublication, attr: { disabled: NewPublicationName() === '' }"><span>Додати публикацію</span></button>
            <input class="span2" id="appendedInputButton" size="16" type="text" data-bind="value: NewPublicationName"/>
        </div>
    </pre>
</div>

<script type="text/html" id="publication-template">
    <tr>
        <td class="pub-text"><a data-bind="text: PublicationName, attr: { href: PublicationHREF }"></a></td>
        <td>
           <input type="text" id="inputDateStarted" placeholder="Дата публикации" data-bind="datepicker: DateCreated, datepickerOptions: { dateFormat: 'yy-mm-dd' }">
        </td>
        <td>
            <button class="btn btn-danger" data-bind="click: Remove, clickBubble: false">
                <i class="icon-remove icon-white"></i>
            </button>
        </td>
    </tr>
</script>