@model misechko.com.Models.AboutViewModel
@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Юридична Фірма «Місечко та Партнери»";
    Html.RequiresCss("about/about.css", "Content", 110);
    Html.RequiresJs("global/eh/jQuery.equalHeights.js", "Content", 20);
    Html.RequiresJs("about/about.js", "Content", 25);
    var selectedItem = Model.CurrentMenuItemName;
}



<div id="about-triplet">
    <div id="about-main" class="extended">
        @Html.Raw(Model.MainMarkup)
    </div>
    <div id="industries-submenu">
        <div id="industries-selector">
            <div class="industry-item @(selectedItem == "" ? "selected" : "")">
                <a href="@Url.Content("~/about/")">
                    <div class="about-submenu-text">Про фірму</div>
                </a>
            </div>
            
            <div class="industry-item @(selectedItem == "recognition" ? "selected" : "")">
                <a href="@Url.Content("~/about/recognition")">
                    <div class="about-submenu-text">Визнання</div>
                </a>
            </div>
            <div class="industry-item @(selectedItem == "membership" ? "selected" : "")">
                <a href="@Url.Content("~/about/membership")">
                    <div class="about-submenu-text">Членство</div>
                </a>
            </div>
            <div class="industry-item @(selectedItem == "career" ? "selected" : "")">
                <a href="@Url.Content("~/about/career")">
                    <div class="about-submenu-text">Кар'эра</div>
                </a>
            </div>
        </div>
    </div>
</div>

