@model misechko.com.Models.AboutViewModel
@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "«Misechko & Partners», Law Firm";
    Html.RequiresCss("about/about.css", "Content", 110);
    Html.RequiresJs("global/eh/jQuery.equalHeights.js", "Content", 20);
    Html.RequiresJs("about/about.js", "Content", 25);
    var selectedItem = Model.CurrentMenuItemName;
}

<div id="about-triplet">
    <div id="about-main" class="extended editable-wrapper" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
        <div class="editable-block">
            @Html.Raw(Model.MainMarkup)
        </div>
    </div>
    <div id="about-submenu">
        <div id="about-selector">
            <div class="about-item @(string.IsNullOrEmpty(selectedItem) ? "selected" : "")">
                <a href="@Url.Content("~/about/")">
                    <div class="about-submenu-text">About firm</div>
                </a>
            </div>
            
            <div class="about-item @(selectedItem == "recognition" ? "selected" : "")">
                <a href="@Url.Content("~/about/recognition")">
                    <div class="about-submenu-text">Awards</div>
                </a>
            </div>
            <div class="about-item @(selectedItem == "membership" ? "selected" : "")">
                <a href="@Url.Content("~/about/membership")">
                    <div class="about-submenu-text">Membership</div>
                </a>
            </div>
            <div class="about-item @(selectedItem == "career" ? "selected" : "")">
                <a href="@Url.Content("~/about/career")">
                    <div class="about-submenu-text">Career</div>
                </a>
            </div>
        </div>
    </div>
</div>

