<div class="subblock-headline">
    <div class="dark-ltr">П</div>
    <h1>Публікації</h1>
</div>
<div id="publications-items-container">
    <div class="pub-item">
        <a href="@Url.Action("Index", "Publications", new { publication = "klasifikator"})">
            <div class="pub-slug">
                <span>Нові посади: як підібрати відповідні назви в чинному Класифікаторі - стаття Дмитра Жукова для журналу "Праця і Закон"</span>
            </div>
        </a>
    </div>
    <div class="pub-item">
         <a href="@Url.Action("Index", "Publications", new { publication = "passport"})">
             <div class="pub-slug">
                 <span>Що необхідно знати про оформлення нових паспортів? - стаття Володимира Місечко для порталу "Мінфін"</span>
             </div>
         </a>
    </div>
    <div class="pub-item">
        <a href="@Url.Action("Index", "Publications", new { publication = "zaynyatist"})">
            <div class="pub-slug">
                <span>Аналіз Закону України "Про зайнятість населення" - стаття Наталії Дейнеги для Юридичної газети</span>
            </div>
        </a>
    </div>
    <div class="pub-item">
         <a href="@Url.Action("Index", "Publications", new { publication = "inozem_invest"})">
             <div class="pub-slug">
                 <span>Зміни в законодавстві щодо іноземного інвестування - стаття Дмитра Жукова для видання "Юрист та Закон"</span>
             </div>
         </a>
    </div>
    <div class="pub-item">
        <a href="@Url.Action("Index", "Publications", new { publication = "waranty_bankrupt"})">
            <div class="pub-slug">
                <span>Як отримати гроші від збанкрутілої страхової компанії? - стаття Володимира Місечко для порталу "Мінфін"</span>
            </div>
        </a>
    </div>
</div>