@model misechko.com.Models.HomeModel
@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Law Firm \"Misechko & Partners\"";
    Html.RequiresCss("home/home.css", "Content", 110);
    Html.RequiresJs("global/eh/jQuery.equalHeights.js", "Content", 20);
    Html.RequiresJs("home/home.js", "Content", 25);
}

<div id="banner-block">
    <div id="main-banner">
        @*
        //
        //Banner 1
        //
        *@
        <div id="banner1text" class="in-banner-container item_0 editable-wrapper" data-left="29%" data-top="16%" style="left: 29%; top: 16%;" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
            <div class="editable-block">
                @{Html.RenderAction("Get", "Content", new { key = "#banner1text" });}
            </div>
        </div>
        <img src="@Url.Content("~/Content/home/img/banner1.jpg")" class="bg item_0" data-top="0%" data-left="0%" style="top:0%; left:0%" />
        @*
        //
        //Banner 2
        //
        *@
        <div id="banner2text" class="in-banner-container item_1 editable-wrapper" data-left="29%" data-top="16%" style="left: 200%; top: 16%;" data-start-left="200%" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
            <div class="editable-block">
               @{Html.RenderAction("Get", "Content", new { key = "#banner2text" });}
            </div>
        </div>
        <img src="@Url.Content("~/Content/home/img/banner2.jpg")" class="bg item_1" data-top="0%" data-left="0%" data-start-left="200%" style="top:0%; left:200%" />
        @*
        //
        //Banner 3
        //
        *@
        <div id="banner3text" class="in-banner-container item_2 editable-wrapper" data-left="29%" data-top="16%" style="left: 200%; top: 16%;" data-start-left="200%" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
            <div class="editable-block">
               @{Html.RenderAction("Get", "Content", new { key = "#banner3text" });}
            </div>
        </div>
        <img src="@Url.Content("~/Content/home/img/banner3.jpg")" class="bg item_2" data-top="0%" data-left="0%" data-start-left="200%" style="top:0%; left:200%" />
        @*
        //
        //Banner 4
        //
        *@
        <div id="banner4text" class="in-banner-container item_3 editable-wrapper" data-left="29%" data-top="16%" style="left: 200%; top: 16%;" data-start-left="200%" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
            <div class="editable-block">
               @{Html.RenderAction("Get", "Content", new { key = "#banner4text" });}
            </div>
        </div>
        <img src="@Url.Content("~/Content/home/img/banner4.jpg")" class="bg item_3" data-top="0%" data-left="0%" data-start-left="200%" style="top:0%; left:200%" />
        @*
        //
        //Banner 5
        //
        *@
        <div id="banner5text" class="in-banner-container item_4 editable-wrapper" data-left="29%" data-top="16%" style="left: 200%; top: 16%;" data-start-left="200%" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
            <div class="editable-block">
               @{Html.RenderAction("Get", "Content", new { key = "#banner5text" });}
            </div>
        </div>
        <img src="@Url.Content("~/Content/home/img/banner5.jpg")" class="bg item_4" data-top="0%" data-left="0%" data-start-left="200%" style="top:0%; left:200%" />
    </div>
    <a href="#prev" class="rotator_control left">
        <div class="bg"></div>
        <div class="ss-icon">&#x25C5;</div>
    </a>
    <a href="#next" class="rotator_control right">
        <div class="bg"></div>
        <div class="ss-icon">&#x25BB;</div>
    </a>
    @{if(User.IsInRole("Administrator"))
      {
          <button class="btn pause-button icon-pause" type="button"><span></span></button>
      }
      }
</div>
<div id="tri-block">
    <div id="about-company" class="editable-wrapper" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
        <div class="editable-block">
            @{Html.RenderAction("Get", "Content", new { key = "#about-company" });}
        </div>
    </div>
    <div id="experience">
        @Html.Partial("_Projects", Model.Projects)
    </div>
    <div id="news">
         @Html.Partial("_News", Model.News)
    </div>
</div>
<div id="news-panel">
    <div class="centerer">
        <div id="news-title"><span>Law news</span></div>
        <div id="news-block" class="editable-wrapper" data-bind="event: { mouseover: ShowEditButton, mouseleave: HideEditButton }">
            <div class="editable-block">
                @{Html.RenderAction("Get", "Content", new { key = "#front-law-news" });}
            </div>
        </div>
    </div>
</div>
